body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'MontSerrat', sans-serif !important; */
    background: linear-gradient(0.25turn, #fefefe, #ffffff, #fffcfc);
    ;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

body::-webkit-scrollbar {
    width: 0.31rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #AAAAAA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize !important;
}