.name{
    line-height: 16px;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif!important;

}
.orderNames{
    color:#757575;
    line-height: 21px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif!important;

}
